html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("/images/logo.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left;
  background-blend-mode:luminosity;
}

/* Login and Sign-up Page Styles */
.forms_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms_container img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.forms_container video {
  width: 80%;
  height: auto;
}

.form {
  width: 100%;
  max-width: 400px;
  margin: 20px;
}

.form h1, .form h3 {
  text-align: center;
  color: #173e5e;
  margin: 20px 0;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: solid #feea79 1px;
}

.form button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #004aad;
  border: none;
  border-radius: 5%;
  text-align: center;
  color: white;
}

/* Books catalogue */
.Books_Catalogue {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.book {
  width: calc(33.33% - 20px);
  margin-bottom: 20px; 
}

.book img {
  display: block;
  margin: 0 auto 10px;
}

.book h3, .book p {
  text-align: center; 
}

.book Button {
  display: block;
  margin: 0 auto;
}
