@{
    ViewData["Title"] = "Homepage";
}

  <div class="Books_Catalogue">

    <div class="book">
        <img src="~/images/the-red-planet.jpg" style="height: 90px; width:90px;" alt="">
        <h3>Title: The Unmatched Challenge</h3>
        <P>Author: Steve Biko</P>
        <Button>View</Button>
    </div>

     <div class="book">
        <img src="~/images/the-red-planet.jpg" style="height: 90px; width:90px;" alt="">
        <h3>Title: The Unmatched Challenge</h3>
        <P>Author: Steve Biko</P>
        <Button>View</Button>
    </div>

     <div class="book">
        <img src="~/images/the-red-planet.jpg" style="height: 90px; width:90px;" alt="">
        <h3>Title: The Unmatched Challenge</h3>
        <P>Author: Steve Biko</P>
        <Button>View</Button>
    </div>

     <div class="book">
        <img src="~/images/the-red-planet.jpg" style="height: 90px; width:90px;" alt="">
        <h3>Title: The Unmatched Challenge</h3>
        <P>Author: Steve Biko</P>
        <Button>View</Button>
    </div>

     <div class="book">
        <img src="~/images/the-red-planet.jpg" style="height: 90px; width:90px;" alt="">
        <h3>Title: The Unmatched Challenge</h3>
        <P>Author: Steve Biko</P>
        <Button>View</Button>
    </div>

     <div class="book">
        <img src="~/images/the-red-planet.jpg" style="height: 90px; width:90px;" alt="">
        <h3>Title: The Unmatched Challenge</h3>
        <P>Author: Steve Biko</P>
        <Button>View</Button>
    </div>
    
     <div class="book">
        <img src="~/images/the-red-planet.jpg" style="height: 90px; width:90px;" alt="">
        <h3>Title: The Unmatched Challenge</h3>
        <P>Author: Steve Biko</P>
        <Button>View</Button>
    </div>

     <div class="book">
        <img src="~/images/the-red-planet.jpg" style="height: 90px; width:90px;" alt="">
        <h3>Title: The Unmatched Challenge</h3>
        <P>Author: Steve Biko</P>
        <Button>View</Button>
    </div>

     <div class="book">
        <img src="~/images/the-red-planet.jpg" style="height: 90px; width:90px;" alt="">
        <h3>Title: The Unmatched Challenge</h3>
        <P>Author: Steve Biko</P>
        <Button>View</Button>
    </div>


    </div>
